# Instructions on the website specificy the path of this file within the repo.
# Ensure those instructions are updated if this file is moved.

[Unit]
Description=Copy sched_preempt status to a safe readable file

[Service]
Type=oneshot
# Copy the preemption mode from debugfs to /run/sched_preempt_status.
# if (debugfs is not mounted) -> inform the user it is not mounted.
# elif /sys/kernel/debug/sched/preempt -> requirements are met, copy the preemption mode to /run/sched_preempt_status.
# else -> The kernel does not support adjusting preemption mode.
ExecStart=/bin/sh -c '\
if ! grep -q " /sys/kernel/debug debugfs" /proc/mounts; then \
    echo "debugfs not mounted at /sys/kernel/debug . It is required to check the current preemption mode." > /run/sched_preempt_status; \
elif [ -r /sys/kernel/debug/sched/preempt ]; then \
    cat /sys/kernel/debug/sched/preempt > /run/sched_preempt_status; \
else \
    echo "Preemption setting not supported by kernel." > /run/sched_preempt_status; \
fi; \
chmod 644 /run/sched_preempt_status'

# Triggers copying the status on boot
[Install]
WantedBy=multi-user.target
